{% extends 'base/main.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
<div class="header-bar">
    <div>
        <h1>Hello {{ request.user|title }}</h1>
        <h3 style="margin: 0">You have <i>{{count}}</i> incomplete task{{count|pluralize:"s"}}</h3>
    </div>
    {% if request.user.is_authenticated %}
        <!-- <p>{{ request.user }}</p> -->
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>

<!-- 
<hr>
<h1>My To-Do List {{ color }}</h1> -->

<div id="search-add-wrapper">
    <form method="GET" style="margin-top:20px; display: flex;">
        <input type="text" name="search-area" placeholder="Search your task" value="{{ search_input }}">
        <input class="button" type="submit" name="Search" value="Search">
    </form>
    {% if tasks|length > 0 %}
        <a id="add-link" href="{% url 'task-create' %}">&#x2b;</a>
    {% endif %}
</div>

<!-- Hidden form. Form submits new item positions -->
<form style="display: none;" id="reorderForm" method="POST" action="{% url 'task-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>

<div id="tasklist" class="task-items-wrapper">
    {% for task in tasks %}
        <div class="task-wrapper" data-position="{{task.pk}}">
            
                <div class="task-title">
                    {% if task.complete %}
                    <div class = "task-complete-icon"></div>
                    <i><s>
                        <a href="{% url 'task-update' task.id %}">{{ task }}</a>
                    </s></i>
                    {% else %}
                    <div class = "task-incomplete-icon"></div>
                    <a href="{% url 'task-update' task.id %}">{{ task }}</a>
                    {% endif %}
                <!-- </div>
                <a class="delete-link" href="{% url 'task-delete' task.id %}">&#215;</a>
             -->
                <!-- <div class="task-title"> -->
                    
                </div>
                <div class="task-controls">
                    <a href="{% url 'task-update' task.id %}" style="text-decoration: none; margin: 0 0.5rem 0 1rem; font-weight: 900;
                    color: #cf4949;"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg></a>
                    <a class="delete-link" href="{% url 'task-delete' task.id %}" style="margin: 0 1rem 0 0.5rem;">&#215;</a>
                    <!-- <span class="handle" >&nbsp;&#10247;</span> -->
                    
                </div>
            
        </div>
    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em;">
        <h3>No new tasks are created.</h3>
        <h3>Create a <a style="text-decoration: none; color: #e53935;" href="{% url 'task-create' %}">New task</a> ! </h3>
    </div>
    {% endfor %}
</div>

<!-- <table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for task in object_list %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
        </tr>
    {% empty %}
        <h3>No item in the list.</h3>
    {% endfor %}
</table> -->

<script>
    var taskList = document.getElementById("tasklist");
    var reorderForm = document.getElementById("reorderForm");
    var positionInput = document.getElementById("positionInput");

    let sortable = Sortable.create(taskList, {
        handle: '.handle',
        ghostClass: 'dropArea',
        chosenClass: 'selectedTask',

    });

    function reordering() {
        const rows = document.getElementsByClassName("task-wrapper");
        let pos = [];
        for (let row of rows) {
            pos.push(row.dataset.position);
        }
        console.log(pos.join(","))
        positionInput.value = pos.join(',');
        reorderForm.submit();
    }

    document.ondrop = reordering
</script>

{% endblock content %}